<div class="content-section">
    <div>
        <span>Dear {{ user.name }},</span>
    </div>
    <div style="text-align: center">
        <span>Please click on the following button to verify your Email address:</span>
    </div>
    <br/>
    <div style="text-align: center">
        <a href="{{ root_url }}/verify?email={{ user.email_address }}&token={{ email_verification_token }}"><button type="button" style="background-color: green; color: white; font-size: 20pt; font-weight: bold; border-radius: 7px; padding: 8pt 24pt 8pt 24pt">VERIFY</button></a>
    </div>
</div>