{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <div class="mt-3 mb-3">  
            <a href="/"><< Back to Calculator</a>
        </div>
        <br/>
        <h1 style="text-align: center">Frequently Asked Questions</h1>
        <br/>
        
        <h3>What are PPPs?</h3>
        <p>Purchasing Power Parities (PPPs) measure the amount of currency units needed in a certain country to buy the same basket of goods and services that a single unit of another country's currency can buy. PPPs are currency converters and spatial price indices.</p>
        <br/>
        
        <h3>What is the difference between PPPs and market exchange rates?</h3>
        <p>Market exchange rates do not reflect price level differences and therefore do not reflect the relative purchasing power of one currency in another country. However, PPPs convert a basket of goods and services from one currency to another by eliminating price level differences. In other words, PPPs equalize the purchasing powers of different currencies.</p>
        <br/>
        
        <h3>What is a reference year?</h3>
        <p>PPPs are calculated through the International Comparison Program (ICP). The ICP is implemented in 3-year cycles, with a benchmark year for each cycle. For example, the last global ICP cycle was conducted in 2017, making 2017 the benchmark year for which PPPs are computed through collection of price surveys spread across the cycle's three years according to the rolling survey approach. PPPs are then imputed for the interim years at the global level. However, in Western Asia, additional effort is exerted to compute highly reliable annual PPPs using a considerable amount of actual data collected annually while the remaining are extrapolated/retrapolated using CPI data. This regional practice has resulted in a time series of annual PPPs starting from 2011 with the latest PPPs computed for 2017, and work is ongoing for the production of PPPs for the following years.</p>
        <br/>
        
        <h3>What are the GDP levels?</h3>
        <p>The Gross Domestic Product (GDP) is composed of different expenditure components consisting of 6 main aggregates, 28 categories, 63 groups, 126 classes, and 155 basic headings. The online PPP converter for the Arab region provides PPP conversion at the following 15 levels: GDP; Household Expenditures; Food and Beverages; Clothing and Footwear; Housing; Furniture and Furnishing; Health; Transportation; Communication; Recreation and Culture; Energy; Education; Government Expenditures; Gross Fixed Capital Formation; Services.</p>
        <br/>
    </div>
{% endblock content %}
